<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">
    <script src="/assets/js/init-page.js"></script>
</head>

<body class="bg-my-light vh-100 d-flex flex-column">

    <script src="/assets/js/header.js"></script>

    <div class="container mt-3">

        <!-- page content -->

        <!-- end page content -->

    </div>

    <script src="/assets/js/footer.js"></script>

</body>

</html>
